@import url(//db.onlinewebfonts.com/c/f4221c695de0fe4bd63bf82813b53175?family=MS+Gothic);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'MS Gothic';
	font-size: 0.625rem;
	color: #08bd8152;
	color: #ffffff52;
}
